<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Other head elements -->
  <link rel="stylesheet" href="/docs/css/style.css">
</head>
<body>
  {{ content | safe }}
  <script src="/docs/scripts/main.js"></script>
</body>
</html>